/* styles/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import the 'Roboto Condensed' font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* Import Tailwind CSS styles */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Apply 'Roboto Condensed' as the default font family */
body {
  font-family: 'Roboto Condensed', sans-serif;
}
